<template>
  <v-card
    class="mx-auto"
    width="320"
    max-height="300"
    outlined
  >
    <div class="2020/08">
      <ul>
        <li class="sum">Sun</li>
        <li class="wed">Wed</li>
        <li class="sat">Sat</li>
      </ul>
      <br>
      <div class="month">
        <v-card-text>
          8/1
        </v-card-text>
      </div>
      <div>
      <v-row
        justify="left"
        align-content="center"
        class="mt-2"
        >
        <v-col v-for="i in list1" :key="i">
          <v-card  outlined tile height=12 width="12" :color="i"
            >
          </v-card>
        </v-col>
        <v-col v-for="i in list2" :key="i">
          <v-card  outlined tile height=12 width="12" :color="i"
            >
          </v-card>
        </v-col>
        <v-col v-for="i in list3" :key="i">
          <v-card  outlined tile height=12 width="12" :color="i"
            >
          </v-card>
        </v-col>
        <v-col v-for="i in list4" :key="i">
          <v-card  outlined tile height=12 width="12" :color="i"
            >
          </v-card>
        </v-col>
      </v-row>
    </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "2020-08",
  data () {
    return {
      list1: ["#3E9CF8FF","#EE3A3AFF","#3E9CF8FF","#3E9CF8FF","#EE3A3AFF","#3E9CF8FF","#17D152FF"],

      list2:["#EE3A3AFF","#EE3A3AFF","#3E9CF8FF","#EE3A3AFF","#17D152FF","#3E9CF8FF","#17D152FF"],

      list3:["#17D152FF","#EE3A3AFF","#EE3A3AFF","#3E9CF8FF","#EE3A3AFF","#3E9CF8FF","#EE3A3AFF"],

      list4:["#EE3A3AFF","#3E9CF8FF","#3E9CF8FF","#3E9CF8FF","#EE3A3AFF","#3E9CF8FF","#17D152FF"],
      // 最新状態はここにコピーされる
    }
  },
};
</script>
<style>
.aas{
  padding-left: 262px;
  padding-right:5px;
  padding-bottom: 9px;
  padding-top:5px;
}
.month{
  padding-top: 5px;
  padding-top: 0px;
  padding-bottom:100px;
  padding-left: 0px;
  padding-right:0px;
  float: left;
}
li {
  list-style: none;
  float: left;
}
.sum{
  padding-left:33px;
}
.wed{
  padding-left: 83px;
}
.sat{
  padding-left: 83px;
}
</style>
