<template>
  <v-card width="100%" class="mx-auto" outlined shaped>
    <v-list-item>
      <v-list-item-avatar color="grey">
				<img src="https://randomuser.me/api/portraits/men/81.jpg" />
			</v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Takahito NAKANO</v-list-item-title>
        <v-list-item-subtitle>@peru-6358</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-img src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg" width="100%"></v-img>

    <v-card-text>Visit ten places on our planet that are undergoing the biggest changes today.</v-card-text>

    <v-card-actions>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-share-variant</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
	
}
</script>