<template>
  <div class="about">
    <v-row>
      <v-col cols="0" sm="0" md="3">
        <div class="hidden-sm-and-down">
        <LeftMenu />
        </div>
      </v-col>
      <v-col cols="12" sm="9" md="7">
        <h1>This is an about page</h1>
      </v-col>
      <v-col cols="0" sm="3" md="2">
        <div class="hidden-xs-only">
        <RightMenu />
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LeftMenu from "../components/LeftMenu";
import RightMenu from "../components/RightMenu";

export default {
  name: "About",
  components: {
    LeftMenu,
    RightMenu,
  },
};
</script>