<template>
 <RightMenu />
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import RightMenu from "../components/RightMenu";

export default {
  name: "Test",

  components: {
    RightMenu,
  },

  data: () => ({}),
};
</script>